@model CyberPost.Models.Post
@{
    ViewBag.Title = "Create Post";
}

<h2>Create Post</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content)
        @Html.ValidationMessageFor(m => m.Content)
    </div>
    <input type="submit" value="Create" />
}
